/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#header {
	background-color: black;
	height: 120px;
	width: auto;
	border: solid grey 2px;
	margin-bottom: 2px;
	position: relative;
}

#logo {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

#navbar{
	height: 35px;
	width: auto;
	background-color: black;
	margin-bottom: 2px;
	border: solid grey 2px;
}

#navbar ul {
	padding-top: 7px;
	padding-left: 16%;
	width: 100%;
	margin: auto;
}

#navbar li {
	display: inline-block;
	font-size: 14px;
	color: white;
	margin: auto;
	width: 20%;
	font-weight: bold;
}

#main {
	width: 73.6%;
	height: 1000px;
	background-color: black;
	display: inline-block;
	vertical-align: top;
	border: solid grey 2px;

}

#events {
	display: inline-block;
	width: 25%;
	height: 1000px;
	background-color: black;
	border: solid grey 2px;
}

h2 {
	text-align: center;
	color: darkgrey;
	margin-bottom: 20px;
	margin-top: 15px;
}

h3 {
	margin-top: 15px;
	text-align: center;
	color: darkgrey;
	margin-bottom: 20px;
}

li {
	color: #BF1628;
	margin-bottom: 5px;
	font-size: 10pt;
}

.tinylist {
	color: yellow;
	font-size: 9pt;
	margin-bottom: 5px;
}